ul > li{
    margin-top: .7em;
    margin-left: -1.5em; 
 }

 .cpp{
    margin-top: -1.5rem;
}
    
#learn-cpp{
    font-size: 3.5rem;
    margin: auto;
}

.cpp > p, .cpp > ul{
    margin-left: 1rem;
}

.para{
    font-size: 1.1rem; 
    font-Weight: bold;
}

.cpp-h6{
    font-size: 1rem;
    font-weight: 600;
    margin-left: auto;
}

.stl{
    margin-left: 0.4rem;
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 0.5rem 1rem 0.5rem;
    background-image: linear-gradient(to right bottom, #000046, #1CB5E0);
    color:white;
    margin-bottom: 0.8rem;
    width: 84%;
    /* word-wrap: break-word; */
  }
  