.website_theme{
    padding: 1em 2em;
}

.section
{
    margin-top: 3em;
}

h5
{
    margin-left: 1px;
    font-weight: bold;
}

h3
{
    font-weight:bold;
}

.sub-head>p
{
    margin-left: .5rem;
}

.need-points>li
{
  margin-left: 0rem;
}

.need-points>li>h6
{
    font-size:large;
    margin-bottom: .7rem;
}

.linear-data-structures>li
{
    margin-left: 0rem;
}

.non-linear-data-structures
{
    margin-left: 1rem; 
}
