.roadmap-cards{
<<<<<<< HEAD
    height: 100%;
    width: 100%;   
    display: flex;
    flex-wrap: wrap;
}
.roadmap-card{
    position: relative;
    height: 50%;
    width: 50%;
=======
  height: 100%;
  width: 100%;   
  display: flex;
  flex-wrap: wrap;
>>>>>>> d61038ec443832cd7f50be96219a68c62a51f755
}