* {
    box-sizing: border-box;
}


.navbar__items {
    display: flex;
}

.navbar__active {
    font-size: 2rem;
    font-weight: 700;
    color: #354358;
    border-bottom: 4px solid #00ff66;
}

.navbar__item {
    margin-right: 20px;
    text-decoration: none;
    color: #354358;
    font-size: 1.3rem;
    cursor: pointer;
}

.navbar__item:hover {
    background: -webkit-linear-gradient(#000046, #1CB5E0);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

div.header-main {
    background-color: #0edb3efa;
    min-height: 300px;
    color: white;
    text-align: center;
    padding: 45px 15px;
    font-size: 25px;
    line-height: 70px;
    width: 100%;
    border-radius: 12px;
}

.front-page-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.single-card {
    max-width: 25%;
    min-width: 300px;
    margin: 15px;
    text-align: center;
    padding: 10px;
    border: 5px dashed rgb(95, 95, 95);

}

.front-page {
    height: 100%;
}

div.header-main a {
    color: white;
    background-color: rgb(88, 86, 86);
    padding: 8px;
    border: 3px solid white;
    box-shadow: 5px 4px 2px black;
    border-radius: 20px;
}

div.header-main a:hover {
    background-color: black;

}

div.single-card>img {
    filter: contrast(150%);
}