*{
    box-sizing: border-box;
}

.navbar__items {
    display: flex;
}

.navbar__active {
    font-size: 2rem;
    font-weight: 700;
    color: #354358;
    border-bottom: 4px solid #00F260;
}

.navbar__item {
    margin-right: 20px;
    text-decoration: none;
    color: #354358;
    font-size: 1.3rem;
    cursor: pointer;
}

.navbar__item:hover {
    background: -webkit-linear-gradient(#000046, #1CB5E0);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

div.header-main{
   background-color: #0edb3efa;
   height: 300px;
   color:white;
   text-align: center;
   padding: 45px 15px;
   font-size: 25px;
   line-height: 70px;
   margin-top: -1.4rem;
   margin-left: -10px;
   margin-right: 10px;
   border-radius: 12px;
}

.front-page-cards{
    display: flex;
    justify-content: center;
}

.single-card{
    width:33.33%;
    margin:15px;
    text-align: center;
    padding: 10px;
}

.front-page{
   height: 100%;
}

