@import url('https://fonts.googleapis.com/css2?family=Estonia&family=Oswald:wght@300&family=Playfair+Display&family=Roboto:ital,wght@0,300;0,500;1,100&display=swap');

.sidebar {
    background-color: #fff;
    height: 750px;
    border-radius: 12px;
    padding: 25px 15px;
    box-shadow: 0 0 10px black;
    text-align: center;
    position: sticky;
    top: 15px;
    /* background-image: url('https://previews.123rf.com/images/anagram1/anagram11709/anagram1170900039/86386866-abstract-yellow-watercolor-background-in-high-resolution.jpg'); */
}

.sidebar__avatar {
    height: 110px;
    width: 120px;
    object-fit: contain;
    border-radius: 30px;
}

/* .sidebar__icon {
    width: 25px;
    height: 25px;
} */

.sidebar_elements {
    /* background-color: #1CB5E0; */
    background-color: #0edb3efa;
    color: black;
    margin: 20px 40px;
    border-radius: 5px;
    line-height: 2rem;
}

.sidebar__title {
    margin: 20px 0;
    font-size: 3rem;
    font-family: 'Estonia', cursive;
    font-family: 'Oswald', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto', sans-serif;
}

.main_title:hover {
    color: #0edb3efa;

}

/* .sidebar__name>span {
    color: #00F260;
} */

.sidebar__item {
    margin-bottom: 50px;
    padding-top: 6px;
    height: 40px;
    font-size: 1.05rem;
    border-radius: 30px;
    background-color: #f1f1f1;

}

div.social {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.contact-us {
    margin-top: 5rem;
}

/* .sidebar__contact {
    background-color: #dbdddf;
    padding: 2px 0;
    margin: 20px -15px;

}

.sidebar__email {
    background-image: linear-gradient(to right bottom, #00F260, #0575E6);

    border-radius: 30px;
    color: #fff;
    margin: 15px 25px 0px;
    cursor: pointer;
    transition: all 3s linear;
}

.sidebar__email:hover {
    transform: scale(1.2);
}

.sidebar__github:hover,
.sidebar__resume:hover {
    background-color: #f1f1f2;
    color: #000;
} */

.sidebar__item {
    margin: 2rem auto 4rem auto;
    max-width: 400px;
}

.sidebar_elements {
    margin: 0 auto 20px auto;
    max-width: 300px;
}