.sidebar {
    background-color: #fff;
    height: 750px;
    border-radius: 12px;
    padding: 25px 15px;
    box-shadow: 0 0 10px black;
    text-align: center;
    position: sticky;
    top: 15px;
}

.sidebar__avatar {
    height: 110px;
    width: 120px;
    object-fit: contain;
    border-radius: 30px;
}

/* .sidebar__icon {
    width: 25px;
    height: 25px;
} */

.sidebar_elements{
    /* background-color: #1CB5E0; */
    background: #0edb3efa;
    color:black;
    margin: 20px 40px;
    border-radius: 5px;
    line-height: 2rem;
}

.sidebar__title {
    font-family: 'Kaushan Script';
    margin: 20px 0;
    font-size: 1.7rem;
}

.main_title:hover{
    color:#0edb3efa;
}

/* .sidebar__name>span {
    color: #00F260;
} */

.sidebar__item {
    margin-bottom: 50px;
    padding-top: 6px;
    height: 40px;
    font-size: 1.05rem;
    border-radius: 30px;
    background-color: #f1f1f1;

}

/* .sidebar__contact {
    background-color: #dbdddf;
    padding: 2px 0;
    margin: 20px -15px;

}

.sidebar__email {
    background-image: linear-gradient(to right bottom, #00F260, #0575E6);

    border-radius: 30px;
    color: #fff;
    margin: 15px 25px 0px;
    cursor: pointer;
    transition: all 3s linear;
}

.sidebar__email:hover {
    transform: scale(1.2);
}

.sidebar__github:hover,
.sidebar__resume:hover {
    background-color: #f1f1f2;
    color: #000;
} */