@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Merriweather:wght@300&display=swap');

body {
    background-image: linear-gradient(to right bottom, #000046, #1CB5E0);
    background-attachment: fixed;
    overflow:auto;
}

.website_theme{
    padding: 1em 2em;
}

a {
    text-decoration: none;
    color: #354548;

}

a:hover {
    text-decoration: none;
    color: #000;
}

.container-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    /* background-color: #000; */
}

.row {
    height: 95%;
    width:100%;
    /* background-color: #000; */
}

.app__main-content {
    background-color: #fff;
    border-radius: 12px;
    padding: 25px 15px;
    box-shadow: 0 0 10px black;
    overflow-y: auto;
}

@media(max-width:991px) {
    .app__main-content {
        margin: 30px 0;
    }
}


hr{
    background-color:rgba(0, 0, 0, 0.527);
    height: .1rem;
    margin-bottom: 2rem;
}
