@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Ubuntu&display=swap');

*{
    box-sizing: border-box;
}

#body {
    background: black;
    background-attachment: fixed;
    overflow:auto;
    font-family: 'Ubuntu', sans-serif;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'PT Serif', serif;
    font-weight: bold;
}

.website_theme{
    padding: 1em 2em;
}

a {
    text-decoration: none;
    color: #0edb3efa;
}

a:hover {
    text-decoration: none;
    color: -webkit-link;
}

.container-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.row {
    height: 95%;
    width:100%;
}

.app__main-content {
    background-color: #fff;
    border-radius: 12px;
    padding: 25px 15px;
    box-shadow: 0 0 10px black;
    overflow-y: auto;
    /* background-image: url('https://previews.123rf.com/images/designertimi/designertimi1903/designertimi190300033/124285530-green-watercolor-background-with-light-yellow-hue-abstract-creative-design-with-pastel-colors-vector.jpg'); */
}



@media(max-width:991px) {
    .app__main-content {
        margin: 30px 0;
    }
}


hr{
    background-color:rgba(0, 0, 0, 0.527);
    height: .1rem;
    margin-bottom: 1em;
    margin-top: 0.6em;
}

.app{
    overflow-x: hidden;
}




